.browsercast-container {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  /* No idea why I need to fixup these jQuery UI styles... */

}
.browsercast-container > * {
  vertical-align: top;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
}
.browsercast-container .mode-select .ui-button {
  height: 28px;
}
.browsercast-container .ui-button-text {
  padding-top: 7px;
  padding-right: 12px;
  margin-left: 16px;
}
.browsercast-container .audio-container > * {
  display: none;
}
.browsercast-container .audio-container > .state {
  display: inline;
}
.browsercast-pick-audio-url input {
  width: 100%;
}
.browsercast-pick-audio-url .hints li {
  margin-left: 18px;
}
.browsercast-pick-audio-url .nbsp {
  white-space: nowrap;
}
.browsercast-controls-container {
  position: relative;
}
.browsercast-controls {
  position: absolute;
  display: inline-block;
  width: 150px;
}
.browsercast-controls .ui-button {
  margin-bottom: -7px;
  height: 20px;
}
.browsercast-controls .ui-button.bc-corner-none .ui-icon {
  margin-left: -11px;
}
.browsercast-controls .ui-button.jump-to-time {
  width: 27px;
}
.browsercast-controls .input-container {
  position: relative;
  display: inline-block;
}
.browsercast-controls .input-container .ui-icon {
  position: absolute;
  top: 5px;
  left: 2px;
}
.browsercast-controls input {
  padding-left: 16px;
  width: 59px;
}
.cell.browsercast-active-cell .edit-controls {
  display: inline-block;
}
.cell .edit-controls {
  display: none;
}
.browsercast-active-cell {
  border-color: #7291D7;
  border-radius: 4px;
}
.browsercast-active-cell.ui-widget-content {
  border-color: #4E77D7;
}
.browsercast-cell-hidden {
  display: none;
}
.browsercast-cell-inactive {
  opacity: 0.5;
}
.browsercast-mode-playback .duration-input-container {
  display: none;
}
.browsercast-mode-editing .browsercast-cell-hidden,
.browsercast-mode-editing .browsercast-cell-inactive {
  display: block;
  opacity: 1.0;
}
.ui-button.bc-button-flushleft {
  margin-left: -1px;
}
.browsercast-welcome .fakebtn {
  white-space: nowrap;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: default;
}
